.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
SubstitutionMatrix.csv
Rplots.pdf
figures/
results/
modelling_walkthrough.pdf
modellingwalkthrough_2.Rmd
modellingwalkthrough_2.html
to-delete/
data/model-table.xlsx
